.obsidian
characterization/drivetrain/characterization-project/.gradle/
characterization/drivetrain/characterization-project/.settings/
characterization/drivetrain/characterization-project/bin/
characterization/drivetrain/characterization-project/build/
